#header{
    margin: auto;
    text-align: center;
    font-family: sans-serif;
    color: black;
}

#searchbar{
    margin: auto;
    text-align: center;
    font-family: sans-serif;
    color: black;
}

#main{
    margin: auto;
    background-image: linear-gradient(black,#2e1c31);
}